/* Setzt die Standard-Schriftart und entfernt margin/padding vom gesamten Dokument */
body {
    font-family: "Roboto";
}

hr{ 
    border: dashed 1px;
}

/* zentriert Inhalt, platziert ihn zwischen den Rändern */
.header-container {
    display: flex;
    margin-bottom: 30px;
}

.header-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.header-container p{
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

/* erlaubt Zeilenumbruch bei kleineren Bildschirmen */
.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Stilisiert jedes Eingabefeld */
.input-container div {
    width: 45%;
    margin-bottom: 3%;
}

/* Stilisiert die Eingabefelder selbst, nimmt die volle Breite des Elternelements ein */
.input-container input {
    width: 100%;
    padding: 5px;
}

/* Stilisiert den Container für die Buttons und zentriert sie */
.button-container {
    display: flex;
    text-align: center;
    margin-bottom: 1%;
}

/* Stilisiert die Buttons selbst */
.button-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 12px;
}

/* Stilisiert wenn Buttons disabled */
.button-container button:disabled {
    background-color: #cccccc;
    cursor: no-drop;
}