/* Setzt die Standard-Schriftart und entfernt margin/padding vom gesamten Dokument */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
hr{ 
    border: dashed 1px;
}

/* zentriert den Inhalt, platziert ihn zwischen den Rändern, setzt entfernung zu unteren elementen */
.header-container {
    display: flex;
    margin-bottom: 1%;
}

.header-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.header-container p{
    margin: 0 auto;
}

/* Flexbox für die Eingabefelder, erlaubt Zeilenumbruch bei kleineren Bildschirmen */
.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-container div {
    width: 45%;
    margin-bottom: 3%;
}

/* nimmt die volle Breite des Elternelements ein */
.input-container input {
    width: 100%;
    padding: 5px;
}

.button-container {
    display: flex;
    text-align: center;
    margin-bottom: 2%;
}

.button-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
}

.button-container button:disabled{
    background-color: #cccccc;
    cursor: no-drop;
}
