img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
    border: 1px dashed black;
}

.headline
{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.text
{
    font-family: "Roboto";
    text-align: center;
}