.addButton
{
    font-family: "Roboto";
    font-size: 20px;
    color: white;
    background-color: #3498db;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 12px;
}

.addButton:hover
{
    background-color: #1b80c3;
}

.addButton:active
{
    background-color: #3498db;
}

.updateButton
{
    font-family: "Roboto";
    font-size: 20px;
    color: white;
    background-color: #3498db;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 12px;
}

.updateButton:disabled{
    background-color: #cccccc;
    cursor: no-drop;
}

.updateButton:disabled:hover{
    background-color: #cccccc;
}

.updateButton:hover
{
    background-color: #1b80c3;
}

.deleteButton
{
    font-family: "Roboto";
    font-size: 20px;
    color: white;
    background-color: #d74126;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 12px;
}

.deleteButton:hover
{
    background-color: #ac341e;
}

.deleteButton:disabled
{
    background-color: #cccccc;
    cursor: no-drop;
}

.deleteButton:hover:disabled
{
    background-color: #cccccc;
}