.addButton
{
    background-color: #3498db;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
}

.addButton:hover
{
    background-color: #1b80c3;
}

.addButton:active
{
    background-color: #3498db;
}

.changeButton
{
    background-color: #3498db;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
}

.changeButton:hover:disabled
{
    background-color: lightgray;
}

.changeButton:disabled{
    background-color: white;
    cursor: no-drop;
}

.changeButton:hover
{
    background-color: #1b80c3;
}

.deleteButton
{
    background-color: #d74126;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
}

.deleteButton:hover
{
    background-color: #ac341e;
}

.deleteButton:disabled
{
    background-color: white;
    cursor: no-drop;
}
.deleteButton:hover:disabled
{
    background-color: lightgray;
}